<div class="container" [ngsRevealSet]="{ reset:true}"  [ngsInterval]="500" [ngsSelector]="'.item,.example-card'">
  <div style="text-align:center" class="item">
    <h1>Thank you for checking out my first Angular App!</h1>
    <p>
      This is a sample app I wrote to try out Angular, Angular Material, Node.js, Typescript, and Auth0.
      <br> Click on <b>Login</b> to get Started!!!
    </p>
  </div>
  <br><br>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" >

    <div fxFlex="15%">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Angular</mat-card-title>
          <mat-card-subtitle>Web App Framework</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/angular.png" alt="Angular">
      </mat-card>
    </div>

    <div fxFlex="15%">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Angular Material</mat-card-title>
          <mat-card-subtitle>Modern UI Components</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/angularmaterial.png" alt="Angular Material">
      </mat-card>
    </div>

    <div fxFlex="15%">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Node.js</mat-card-title>
          <mat-card-subtitle>JS Runtime Environment</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/nodejs.jpg" alt="Node.js">
      </mat-card>
    </div>

    <div fxFlex="15%">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Typescript</mat-card-title>
          <mat-card-subtitle>Superset of JS</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/typescript.svg" alt="Typescript">
      </mat-card>
    </div>

    <div fxFlex="15%">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Auth0</mat-card-title>
          <mat-card-subtitle>Authentication Platform</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/auth0.png" alt="Auth0">
      </mat-card>
    </div>
  </div>
</div>