@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$md-customorange: (
    50 : #fdede5,
    100 : #fad2bf,
    200 : #f7b495,
    300 : #f3956a,
    400 : #f17f4a,
    500 : #ee682a,
    600 : #ec6025,
    700 : #e9551f,
    800 : #e74b19,
    900 : #e23a0f,
    A100 : #ffffff,
    A200 : #ffe1db,
    A400 : #ffb7a8,
    A700 : #ffa28f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-customgrey: (
    50 : #e8e8e8,
    100 : #c7c7c7,
    200 : #a1a1a1,
    300 : #7b7b7b,
    400 : #5f5f5f,
    500 : #434343,
    600 : #3d3d3d,
    700 : #343434,
    800 : #2c2c2c,
    900 : #1e1e1e,
    A100 : #f07878,
    A200 : #eb4a4a,
    A400 : #ff0303,
    A700 : #e90000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($md-customorange);
$candy-app-accent:  mat-palette($md-customgrey);
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-dark-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);